@model ControlStock.Models.Articulo

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar Articulo</h1>

<h3>Está Seguro que desea borrar este Artículo?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
          Visible sin Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.MarcaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca.IdRubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Rubro.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArticulo" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
